<div class="row">
  <p class="paragraph">See Out Latest Arrivals</p>
</div>

<div class="container">
  <p class="text">
    <span>{{ productsLength }} styles available</span> - Show All styles per
    page
  </p>

  <select
    name="product"
    class="input-field"
    [(ngModel)]="sortingOption"
    (change)="sortProducts()"
  >
    <option value="sort-by">Sort By</option>
    <option value="low-to-high">Price - Low to High</option>
    <option value="high-to-low">Price - High to Low</option>
  </select>
</div>

<div class="clothes-container">
  <div class="card" *ngFor="let product of products">
    <div class="img-container" [routerLink]="[product.id]">
      <img [src]="product.imageUrl" [alt]="product.name" class="img" />
      <p class="add">Quick add</p>
    </div>

    <h3 class="product-name">{{ product.name }}</h3>
    <p class="price">{{ product.price | currency : "GBP" }}</p>
    <app-star-rating [rating]="product.stars"></app-star-rating>
    <mat-icon class="icon" (click)="addToWishlist(product)"
      >favorite_border</mat-icon
    >
  </div>
</div>
