<div class="row">
  <p>Easy Returns</p>
</div>
<div class="items-wrapper">
  <div class="search item">
    <input
      type="search"
      name="search"
      class="search-field"
      placeholder="Search Flair"
    />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <div class="logo item">
    <h1>Flair</h1>
    <p>Paris</p>
  </div>
  <div class="items item">
    <mat-icon class="icon">person</mat-icon>
    <mat-icon class="icon">favorite_border</mat-icon>
    <mat-icon class="icon"> local_grocery_store</mat-icon>
  </div>
</div>
