<div class="wrapper">
  <div class="container">
    <img
      src="../../../../../assets/images/cat-image-01.webp"
      alt="jackets"
      class="img"
    />
    <div
      class="header-container"
      (click)="navigateToCategory(categories.JACKETS)"
    >
      <h3 class="header">Coats & Jackets</h3>
    </div>
  </div>

  <div class="container">
    <img
      src="../../../../../assets/images/cat-image-02.webp"
      alt="tops"
      class="img"
    />
    <div class="header-container" (click)="navigateToCategory(categories.TOPS)">
      <h3 class="header">Tops</h3>
    </div>
  </div>

  <div class="container">
    <img
      src="../../../../../assets/images/cat-image-03.webp"
      alt="knitwear"
      class="img"
    />
    <div
      class="header-container"
      (click)="navigateToCategory(categories.KNITWEAR)"
    >
      <h3 class="header">Knitwear</h3>
    </div>
  </div>
</div>
