<div class="wrapper">
  <div class="container">
    <h3 class="header">CUSTOMER SERVICES</h3>
    <ul>
      <li class="list">FAQs</li>
      <li class="list">Track Your Order</li>
      <li class="list">Delivery</li>
      <li class="list">Returns</li>
      <li class="list">Product Care</li>
      <li class="list">Contact Us</li>
    </ul>
  </div>

  <div class="container">
    <h3 class="header">SHOPPING WITH US</h3>
    <ul>
      <li class="list">Personal Styling Appointments</li>
      <li class="list">Petite Collection Stores</li>
      <li class="list">Limited Collection Stores</li>
      <li class="list">Store Events</li>
      <li class="list">Newsletter Sign Up</li>
      <li class="list">My Account</li>
      <li class="list">Size Guide</li>
      <li class="list">Gift Box Service</li>
    </ul>
  </div>

  <div class="container">
    <h3 class="header">LEGAL</h3>
    <ul>
      <li class="list">Terms and Conditions</li>
      <li class="list">Privacy Policy</li>
      <li class="list">Code of Conduct</li>
      <li class="list">Online Tax Strategy</li>
      <li class="list">Fraudulent Websites</li>
    </ul>
  </div>

  <div class="container">
    <h3 class="header">ABOUT US</h3>
    <ul>
      <li class="list">Our Story</li>
      <li class="list">Inclusion & Diversity</li>
      <li class="list">Flair Sustain</li>
      <li class="list">Careers</li>
      <li class="list">Affiliate Program</li>
      <li class="list">CanopyStyle & Pack4GoodPolicy</li>
    </ul>
  </div>
</div>
<div>
  <p class="paragraph">
    * This page is for demonstration purposes only.It is not intended for actual
    use.
  </p>
</div>
