@import "../../../../assets/styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  background-color: $gray-light;
  padding: 20px 80px;

  .header {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: $font-color;
  }

  .list {
    list-style: none;
    font-size: 14px;
    color: $font-color;
    font-weight: 300;
    margin-bottom: 8px;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.paragraph {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: $font-color;
  padding: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    .header {
      font-size: 14px;
    }

    .list {
      font-size: 11px;
      margin-bottom: 7px;
      letter-spacing: 0.8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .header {
      font-size: 10px;
    }

    .list {
      font-size: 8px;
      margin-bottom: 4px;
      letter-spacing: 0px;
    }
  }
}
