<div class="wrapper">
  <h1 class="header">Inspire me</h1>
  <div class="container">
    <img
      src="https://www.hobbs.com/on/demandware.static/-/Library-Sites-HBSharedLibrary/default/dwa73cc5bf/content-pages/wtwtaw-ss23/inspire-me_portrait_autumn-wedding-aw23.jpg"
      alt="inspire"
      class="img"
    />
    <div class="text-container">
      <button class="button" routerLink="inspiration">This week</button>
      <h2 class="header-2">What to wear to an autumn wedding</h2>
      <p class="paragraph">
        From rich tones to sumptuous fabrics, autumn presents a unique
        opportunity to embrace all things opulent.
      </p>
      <a class="tag" routerLink="inspiration">Read and shop now</a>
    </div>
  </div>
</div>
