<div class="row">
  <p>Easy Returns</p>
</div>
<div class="items-wrapper">
  <div class="search item">
    <input
      type="search"
      name="search"
      class="search-field"
      placeholder="Search by category"
      [(ngModel)]="searchValue"
      (keydown.enter)="onSearchInputEnter()"
    />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <div class="logo item">
    <h1 routerLink="/">Flair</h1>
    <p>Paris</p>
  </div>
  <div class="items item">
    <mat-icon class="icon" routerLink="/login">person</mat-icon>
    <mat-icon class="icon" routerLink="/shop/wishlist"
      >favorite_border</mat-icon
    >
    <mat-icon
      class="icon"
      [matBadge]="badgeValue"
      matBadgeColor="accent"
      routerLink="/shop/bag"
    >
      local_grocery_store</mat-icon
    >
  </div>
</div>
