<div class="row">
  <p class="paragraph">See Our Latest Arrivals</p>
</div>

<div class="wrapper">
  <div class="login">
    <h1 class="header">Log in</h1>
    <p class="text">Already have an account with us? Sign in below</p>
    <input type="email" placeholder="Email" class="input-field" required />
    <input
      type="password"
      placeholder="Password"
      class="input-field"
      required
    />
    <p class="text-2">
      Password must be 8 or more characters, including at least one capital
      letter.
    </p>

    <button class="btn">Sign in</button>
  </div>

  <div class="register">
    <h1 class="header">Register</h1>
    <p class="text">
      NEW TO FLAIR? CLICK BELOW TO REGISTER AND SET UP YOUR ACCOUNT.
    </p>
    <h2 class="header-2">WHY CREATE AN ACCOUNT?</h2>
    <ul>
      <li class="list">Fast checkout with your details saved</li>
      <li class="list">Track your orders and view order history</li>
      <li class="list">Create and share your Wishlist</li>
      <li class="list">Receive our latest news and offers</li>
    </ul>
    <input type="email" placeholder="Email" class="input-field" />
    <button class="btn">Create account</button>
  </div>
</div>
