@import "../../../../../assets/styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78vw;
  margin: 60px auto;

  .focus-clothes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38%;

    .text {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 4px;
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    .header {
      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 8px;
      color: $font-color;
      font-weight: 300;
    }

    .paragraph {
      font-size: 15px;
      margin-bottom: 32px;
      color: $font-color;
      line-height: 24px;
      letter-spacing: 0.8px;
      font-weight: 300;
      text-align: center;
    }

    .btn {
      font-size: 16px;
      padding: 10px 40px;
      background-color: #223532;
      border: 1px solid #223532;
      color: $white-color;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 500;
      transition: all 0.4s;
      cursor: pointer;

      &:hover {
        background-color: $white-color;
        color: #223532;
      }
    }
  }

  .image-container {
    width: 60%;

    .img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 926px) {
  .wrapper {
    .focus-clothes {
      width: 50%;
    }

    .image-container {
      width: 45%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .focus-clothes {
      width: 80%;
      margin-bottom: 20px;
    }

    .image-container {
      width: 80%;
    }
  }
}
