<div class="wrapper">
  <div class="focus-clothes">
    <h3 class="text">In focus</h3>
    <h2 class="header">EVENT ELEGANCE</h2>
    <p class="paragraph">
      Master the dress code in feminine silhouettes and covetable prints to
      create standout looks.
    </p>
    <button class="btn">Shop occasion</button>
  </div>

  <div class="image-container">
    <img
      src="../../../../../assets/images/d-feature-01-image.webp"
      alt="img-1"
      class="img"
    />
  </div>
</div>

<div class="wrapper">
  <div class="image-container">
    <img
      src="../../../../../assets/images/d-feature-02-image-backup.webp"
      alt="img-2"
      class="img"
    />
  </div>
  <div class="focus-clothes">
    <h3 class="text">WORKWEAR FOCUS</h3>
    <h2 class="header">SMART INVESTMENTS</h2>
    <p class="paragraph">
      Immaculately cut and office-approved, these are the style staples you'll
      always need.
    </p>
    <button class="btn">Shop workwear</button>
  </div>
</div>
