<div class="row">
  <p class="paragraph">See Out Latest Arrivals</p>
</div>

<div class="wrapper">
  <div class="main-container">
    <div class="container">
      <h1 class="header">WHAT TO WEAR TO AN AUTUMN WEDDING</h1>
      <p class="paragraph">
        Set against the backdrop of crisp sunshine and changing leaves, autumn
        weddings present an opportunity to embrace all things opulent. Think
        rich tones, light-catching embellishments and sumptuous fabrics. Read on
        for our advice on what to wear to an autumn wedding, whether you're a
        wedding guest, bridesmaid or mother of the bride – or groom.
      </p>
      <a class="button" (click)="navigateToCategory(categories.DRESSES)"
        >SHOP OCCASIONWEAR</a
      >
    </div>
    <div>
      <img
        src="https://www.hobbs.com/on/demandware.static/-/Library-Sites-HBSharedLibrary/default/dw33617787/content-pages/what-to-wear-to-an-autumn-wedding-23/p1-autumn-wedding-aw23.jpg"
        alt="inspiration"
        class="img"
      />
    </div>
  </div>
</div>
